/*{
	border: 1px solid black;
}*/
/*-----------------------------FONTS---------------------------*/
h1{
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	padding: 20px 0px;
	line-height: 48px;
	font-weight: bold;
}
h2{
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	padding: 20px 0px;
	line-height: 36px;
	font-weight: 200;
}
h3{
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	padding: 20px 0px;
	line-height: 32px;
	font-weight: 200;
	color: firebrick;
}
h4 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0px;
    line-height: 28px;
    font-weight: 700;
    color: white;
}
h5{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color:rgba(0,0,0,0.6);
}
p, li{
	text-align: justify;
	font-family: 'Raleway', sans-serif;
}
/*-----------------------------BUTTONS---------------------------*/
.btn_red{
	background-color: crimson;
	color: white;
	border-radius: 15px;
	font-size: 17px;
	font-weight: 200;
	padding: 10px 20px;
	margin: 20px 0;
	border: none;
}
.btn_red:hover{
	background-color: firebrick;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.btn_green{
	background-color: #9cd537;
	color: white;
	border-radius: 15px;
	font-size: 17px;
	font-weight: 200;
	padding: 10px 20px;
	margin: 20px 0;
	border: none;
}
.btn_green:hover{
	background-color: #30c52c;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.btn_contact_form{
    background-color: white;
    border-radius: 5px;
    border: none;
    height: 3em;
    width: 35%;
    margin-bottom: 35px;
}
.btn_contact_form a{
    color: #a90000;
    font-weight: 700;
    text-decoration: none;
}
.btn_contact_form:hover{
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.btn_contact_form a:hover{
	color: crimson;
	text-decoration: none;
}
/*-----------------------------GENERAL CLASSES------------------*/
.active_text{
	font-weight: bold;
}
.link{
	color: crimson;
}
.link:hover{
	color: firebrick;
	text-decoration: none;
	text-transform: none;
}
.space{
	height:50px;
}
.xs_space{
	height: 15px;
}
.fa-angle-left{
	color: firebrick;
}
/*-----------------------------HEADER---------------------------*/
.header{
    min-height: 80px;
    box-shadow: 0px 1px 30px crimson; 
}
.header .logo{
	float: left;
}
.header .logo img{
	height: 70px;
	padding: 2% 0;
}
.header .main_menu{
	padding: 28px 0;
	float: right;
}
.header .main_menu a{
	color: firebrick;
	font-size: 17px;
	padding-right: 30px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
}
.hp_banner{
	min-height: 350px;
	background-image: url("C:/Users/Ewa/Desktop/na ratunek website/nowa_strona/img/body_2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}
.hp_banner h1{
	padding-top: 50px;
}

/*-----------------------------CONTENT---------------------------*/
.cooperation img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
/*-----------------------------O-FIRMIE--------------------------*/
.pg_banner{
	min-height: 20px;
	background: linear-gradient(77deg, rgba(244,243,243,1) 0%, rgba(195,13,13,1) 100%);
}
.pg_banner h2{
	color: white;
	text-align: center;
}
.explanation{
	padding: 30px 0;
}
.explanation .section_2.funder_name h3{
	text-align: center;

}
.explanation .section_3.funder_photo img{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10%;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
}
.explanation .section_3.certificate img{
	width: 100%;
	height: auto;
}
.explanation .section_3.funder_descriprtion .signature img{
	max-width: 25%;
}
.certificate img {
    margin: 0 auto;
    display: inherit;
    max-width: 100%;
}
/*-----------------------------OFERTA--------------------------*/
.offer {
    min-height: 500px;
    padding: 15px;
    width: 45%;
    margin: 0% 2%;
}
.offer ul {
    padding: 0px;
}
.offer li {
    list-style: none;
}
.offer a {
    color: lightslategray;
    cursor: pointer;
    line-height: 1.7em;
}
.offer a:hover {
    color: crimson;
    text-decoration-line: none;
}
.offer.basic_offer{
	border-radius: 15px;
    box-shadow: 0px 0px 15px crimson;
    border: none;
}
.offer.advanced_offer{
	border-radius: 15px;
    box-shadow: 0px 0px 15px crimson;
    border: none;
}
/*------------------------POJEDYŃCZA----OFERTA------------------*/
.offer_option li:before {
	content: "\2665";
	color: firebrick;
	padding: 0 5px;
}
.offer_option .no_dot:before {
	content: " ";
}
.offer_option ul{
	list-style: none;
	padding-left: 0px;
}
.offer_option li.no_dot i {
    color: #9cd537;
    width: 2.5em;
}
/*-----------------------------GALERIA--------------------------*/
.gallery .section_1 img{
	width:100%;
}
.gallery.section_2{
	padding: 0;
}
.gallery.section_2 img{
	width:100%;
	cursor:pointer;
	display: inline-block;
}
img.icons {
    border-radius: 15px;
}
/*-----------------------------FOOTER---------------------------*/
footer .section_1 {
    min-height: 180px;
    padding: 20px 0px;
    background: linear-gradient(77deg, rgba(195,13,13,1) 0%, rgba(244,243,243,1) 42%, rgba(195,13,13,1) 100%);
}
footer .section_1 i {
    color: white;
    padding: 5px;
    background-color: crimson;
    margin-right: 10px;
}
footer .section_1 p{
    color: white;
}
footer .section_2 h6{
	font-size: 12px;
	text-align: center;
	color: gray;
}
footer .section_2 .fa{
	color: firebrick;
}
/*-----------------------------FOOTER---------------------------*/
@media only screen and (max-width: 1025px){
	.offer{
		min-height: 550px;
	}
}
@media only screen and (max-width: 920px){
	footer .section_1 {
    background: linear-gradient(77deg, rgba(195,13,13,1) 0%, rgba(244,243,243,1) 100%);
	}
	footer .section_1 h6, h4, p, a{
		text-align: center;
	}
	footer .btn_contact_form{
		margin: 0 auto;
		display: block;
	}
	.explanation .section_3 .certificate, .signature {
    text-align: center;
	}
	.offer {
    min-height: auto;
    padding: 15px;
    margin: 5%;
    width: auto;
	}
	.gallery .col-md-4 {
    width: 32.9%;
    display: inline-block;
    margin: 0;
	}
}
@media only screen and (max-width: 420px){
	.hp_banner h1{
		text-align: center;
	}
	.hp_banner h5{
		text-align: justify;
	}
	.hp_banner button{
		margin: 20px auto;
		display: block;
	}
	.explanation .section_3.funder_photo img{
		margin: 20px 0;
	}
	footer .btn_contact_form{
		width: 70%;
	}
	footer .ft_2 .link{
		color: white;
	}
	.gallery .col-md-4 {
    width: 32.7%;
	}
	footer .section_2 h6 {
    font-size: 9px !important;
	}
}
@media only screen and (max-width: 380px){
	.gallery .col-md-4 {
    width: 32.5%;
	}
}
